<eui-card>
    <eui-card-header>
        <eui-card-header-title>
            Data Source Distribution
        </eui-card-header-title>
        <eui-card-header-subtitle
            >Insights across different data types</eui-card-header-subtitle
        >
    </eui-card-header>
    <eui-card-content>
        <app-loading-skelton
            *ngIf="(dashboardService.dataSourceLoader$ | async) === true"
            rows="{{ 1 }}"
            columns="{{ 1 }}"
            skeltonType="rectangle"
            height="{{ 250 }}"
        ></app-loading-skelton>
        <eui-apex-chart
            *ngIf="(dashboardService.dataSourceLoader$ | async) === false"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [fill]="chartOptions.fill"
        ></eui-apex-chart>
    </eui-card-content>
</eui-card>
